body{
    background-color: rgb(65, 65, 65);
    color: rgb(162, 179, 198);
    font-size: 20px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#clock {
    font-size: 40px;
    background-color: rgb(162, 179, 198);
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 10px;
    color: blue;
}